body {
  padding: 0px;
  margin: 0px;
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-container {
  margin: 40px auto 0 auto;
  position: relative;
  display: flex;
  max-width: 1280px;
  transition-duration: 1s;
}


.main-container__center {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.list-row {
  border-bottom: rgb(218, 218, 218) 1px solid;
}

.list-name {
  padding-bottom: 14px;
  display: inline-block;
  transition-duration: 0.5s;
}

.add-task {
  padding-bottom: 14px;
  display: inline-block;
  text-align: right;
  transition-duration: 0.5s;
  float: right;
}

/*.add-task span {*/
/*  float: right;*/
/*}*/

.list-name__span {
  font-size: 24pt;
  font-weight: bold;
}

.edit-list-name {
  position: relative;
  top: 9px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.edit-list-name:hover {
  background-color: #eeeeee;
}

.controls__input__input {
  color: black;
  background: #eeeeee;
  padding: 0 0 0 12px;
  height: 43px;
  width: calc(50% - 12px);
  border-radius: 8px;
  border: none;
  outline: none;
  transition: background .3s;
  font-size: 16pt;
  font-weight: bold;
  transition-duration: 0.5s;
}

.controls__input__input.name {
  color: black;
  background: white;
  font-size: 20pt;
}

.filters-list__controls__title-plus {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px;
  transition-duration: 0.5s;
  border-radius: 10px;
  width: calc(25% - 4px);
  text-align: center;
}

.filters-list__controls__title-plus:hover {
  background-color: #eeeeee;
}

.filters-list__controls__title-text__save {
  color: black;
  font-size: 16pt;
  font-weight: bold;
  display: inline-block;
  transition-duration: 0.5s;
}

.filters-list__controls__title-text__save:hover {
  color: #2c7f1e;
}

.filters-list__controls__title-text__del {
  color: black;
  font-size: 16pt;
  font-weight: bold;
  display: inline-block;
  margin-left: 10px;
  transition-duration: 0.5s;
}

.filters-list__controls__title-text__del:hover {
  color:  #ff5c1d;
}

button {
  margin-top: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: black;
  background-color: white;
  display: block;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 10px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
}
