@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}

main {
  display: block;
  margin-top: 100px;
}

/*p {*/
/*  margin: 0;*/
/*}*/

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-100 { font-size: 100px; }

.material-icons.md-dark { color: rgb(0, 0, 0); }
.material-icons.md-grey { color: #9e9e9e; }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-red { color: #ff5c1d; }
.material-icons.md-green { color: #2c7f1e; }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
