<aside class="main-container__left">
  <div class="main-container__left-inner">
    <form novalidate>
      <div class="filters-list">
        <div class="filters-list__controls">
          <a class="filters-list__controls__title" href="#">
            <span class="material-icons md-dark md-24" style="position: relative; top: 5px">view_list</span>
            <span class="filters-list__controls__title-text">Все задачи</span>
          </a>
          <a class="filters-list__controls__title" href="#">
            <span class="material-icons md-dark md-24" style="position: relative; top: 5px">wb_sunny</span>
            <span class="filters-list__controls__title-text">Мой день</span>
          </a>
          <a class="filters-list__controls__title" href="#">
            <span class="material-icons md-dark md-24" style="position: relative; top: 5px">favorite_border</span>
            <span class="filters-list__controls__title-text">Важное</span>
          </a>
          <a class="filters-list__controls__title" href="#">
            <span class="material-icons md-dark md-24" style="position: relative; top: 5px">event</span>
            <span class="filters-list__controls__title-text">Запланированное</span>
          </a>
        </div>

        <div class="filters-list__controls-border">
          <a class="filters-list__controls__title" (click)="createNewList()">
            <span class="material-icons md-dark md-24" style="position: relative; top: 5px">add</span>
            <span class="filters-list__controls__title-text">Создать список</span>
          </a>
        </div>
      </div>
    </form>
  </div>
</aside>
