<aside class="main-container__left">
  <div class="main-container__left-inner">
    <form novalidate>
      <div class="filters-list">
        <div class="filters-list__controls">
          <input class="controls__input__input name" placeholder="Введите название" value="Задача 1">
          <span class="filters-list__controls__title__date-of-creation">Создано сегодня</span>
        </div>

        <div class="filters-list__controls-border">
          <a class="filters-list__controls__title" href="#">
            <span class="material-icons md-dark md-24" style="position: relative; top: 5px">calendar_today</span>
            <span class="filters-list__controls__title-text">Дата выполнения</span>
          </a>
          <input type=date class="controls__input__input">
        </div>

        <div class="filters-list__controls">
          <a class="filters-list__controls__title" href="#">
            <span class="material-icons md-dark md-24" style="position: relative; top: 5px">info</span>
            <span class="filters-list__controls__title-text">Описание</span>
          </a>
          <textarea class="controls__textarea"></textarea>
        </div>

        <div class="filters-list__controls-border">
          <a class="filters-list__controls__title-plus" href="#">
            <span class="material-icons md-dark md-24" style="position: relative; top: 5px">library_add</span>
            <span class="filters-list__controls__title-text__save">Сохранить</span>
          </a>
          <a class="filters-list__controls__title-plus" href="#">
            <span class="material-icons md-dark md-24" style="position: relative; top: 5px">delete</span>
            <span class="filters-list__controls__title-text__del">Удалить</span>
          </a>
        </div>
      </div>
    </form>
  </div>
</aside>
